html,body {
    box-sizing: border-box;
}

.clearfix :after {
    content: "";
    clear: both;
    display: block;
}

header .content {
    width: 100%;
    height: 60px;
    background-color: #4267b2;
    border-bottom: 1px solid #29487d;
    color: #fff;
}
.nav-left p {
    display: block;
    margin: 0;
    padding-left: 5px;
    font-size: 14px;
    line-height: 60px;
}

.nav-right a {
    display: block;
    float: left;
    padding-right: 10px;
    font-size: 12px;
    line-height: 60px;
    text-decoration: none;
    color: #fff;
}

.wrapper {
    max-width: 600px;
    margin: 0 auto;
    font-family: "Hiragino Kaku Gothic ProN", sans-serif;
    font-size: 12px;
    color: #333;
}

.content {
    width: 100%;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

.chat-body {
    width: 100%;
    height: 500px;
    overflow: scroll;
    border: solid 1px #CCC;
}

.chat-box {
    display: inline-block;
    width: 100%;
    color: #fff;
}

.chat-text {
    display: block;
    padding: 7px;
    margin: 5px;
    border-radius: 10px;
}

.chat-right {
    float: right;
}

.chat-right .chat-text {
    background-color: #0084ff;
}

.chat-left {
    float: left;
}

.chat-left .chat-text {
    background-color: #aaa;
}

.chat-account {
    display: block;
    max-width: 100%;
    font-size: 10px;
    color: #AAAAAA;
    background-color: transparent;
}

.chat-right .chat-account {
    text-align: right;
}

.input-area {
    width:300px;
    height: 36px;
}